

.post-list-item {
    border-bottom: 1px solid #000;
    padding: 30px 0;

    &-container{
            text-decoration: none;
            display: flex;
            justify-content: space-between;
    }
    &-date{
        width: 10%;
        color: #000;
     }
    &-title{
        width: 90%;
        color: #000;
        font-size: 20px;
    }
}



.blog-post{
    &__title{
        border-bottom: 1px solid #000;;
        font-size: 50px;
        line-height: 62px;
        margin: 0;
        padding: 70px 0px;
        margin-bottom: 40px;
    }
    &__articleBody{
        max-width: 850px !important;
    
    }
    & p{
        font-size: 19px;;
    }
    & h2{
        margin-top: 40px;
    }
    & h3{
        margin-top: 40px;
        font-size: 25px;
        font-size: bold;
    }
}


    .table-of-contents {
        position: fixed;
        right: 16%;
        background: #ececec;
        padding: 30px;
        font-family: sans-serif;
        color: #000;

        & ul{
   
                list-style: square;
                color: #426a31;
            li{
                & ul li{
                    font-size: 12px;
                }
                font-size:12px ;
            }
        }
    }
