.container{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

.site-separator{
    width: 100%;
    margin:0 auto;
    max-width: 1300px;
    background-color: rgb(122, 122, 122);
    height: 1px;
}

//90 30 17