
.header-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 100%;
    &__left{
        flex:1;
        display: inline-flex;
    }
    &__right{
        width:30%;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        font-size: 18px;
        font-family: $sg;
        font-weight:600;
        color: $color-text;
        text-decoration: none;
    }
    &__link{
        color: $color-text;
        text-decoration: none;
        font-size: 18px;
        font-weight:300;
        font-family: $sg;
    }
}

