
/*=============================================
=            Hero            =
=============================================*/

.hero{
    
        border-bottom: 1px solid #4e4e4e;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
        padding: 100px 0;
    
    &__heading{
        font-size: 30px;
        margin-top:35px;
        line-height: 60px;
        color:$color-text;
        text-transform: uppercase;
    }
    &__heading-secondary{
        font-size: 18px;
        font-weight: 300;
        color: $color-text;
        line-height: 30px;
        max-width: 500px;
    }
    &__heading--bold{
        font-size: 180px;
        line-height: 170px;
        margin-bottom: 0px;
        &-dot{
            font-size: 180px !important;
            line-height: 0;
            line-height: 180px;
        }
    }

    border-bottom: 1px solid #4E4E4E;
}

/*=====  End of Hero  ======*/



/*=============================================
=            Home Blog Posts            =
=============================================*/





.home__blog{
    &--list{
        padding: 0;
        padding-top: 100px;
        padding-bottom: 100px;
        border-bottom: 2px solid #000;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &--single{
        border: 1px solid #4E4E4E;
        margin-bottom: 40px;
        width: 31.5%;
        transition: all .4s;
        background-color: #4E4E4E;
       
        &:hover{
            background-color:#4E4E4E;
            transition: all .3s;
            color: #000;
            border-bottom: 1px solid #4E4E4E;

        }
       
    }
    &--title{
        font-size: 33px;
        line-height: 33px;
        padding-bottom: 20px;
    }
    &--link{
        color: #000 ;
        text-decoration: none !important;
        &:hover{
            color: #000;
        }
    }
    &--listitem{
        padding: 30px;
    }
 
    &--exc{
    }
    &--date{
    }
}

/*=====  End of Home Blog Posts  ======*/